@font-face {
  font-family: "华康圆体W5";
  src: url("../fonts/HuaKangYuanTi-W5.ttf");
}

@font-face {
  font-family: "苏新诗卵石体";
  src: url("../fonts/SuXinShiLuanShiTi.ttf");
}

@mixin sans-serif-font {
  font-family: "华康圆体W5", -apple-system, "Noto Sans", "Helvetica Neue",
    Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC",
    "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC",
    "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei",
    "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp",
    sans-serif;
}

@mixin serif-font {
  font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong,
    FangSong, FangSong_GB2312, "CWTEX\-F", serif;
}

@mixin title-number-font {
  font-family: "苏新诗卵石体", sans-serif;
}

main {
  @include sans-serif-font;
  padding: 16px 8px;
  font-size: 14px;
  line-height: 30px;
  color: #949292;

  > img {
    margin: 0 auto;
  }
}

img {
  display: block;
  max-width: 100%;
}

h3 {
  font-size: 15px;
  line-height: 18px;
  color: #262626;
}

.title {
  font-size: 23px;
  line-height: 30px;
  color: #262626;
  margin: 0 8px;
}

.subtitle {
  margin: 12px 8px 0;

  .date {
    margin-left: 12px;
  }
}

.topic-box {
  background: #f0f0f0;
  border-radius: 6px;
  padding: 16px 12px;
  margin: 22px 8px;

  h3 {
    margin: 0 0 12px;
  }

  .topics {
    color: #83a4c9;
    margin: 0;
    line-height: 18px;
  }
}

.text-hello {
  text-align: right;
}

.music-box {
  background: #f0f0f0;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 22px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .info {
    h3 {
      margin: 0;
    }

    p {
      font-size: 13px;
      margin: 12px 0 0;
      line-height: 16px;
    }
  }

  .cover {
    width: 68px;
    height: 68px;
  }
}

.separator-flower {
  margin: 35px auto 15px;
  width: 67px;
}

.text-intro {
  text-align: center;

  .serif {
    @include serif-font;
    letter-spacing: 2px;
    font-weight: bold;
  }

  &.large-margin {
    margin: 36px 0;
  }
}

.p2 {
  margin: 35px auto;
  max-width: 92%;
}

.separator-we-are-married {
  width: 187.5px;
  margin: 25px auto;
}

.you-and-me-box {
  background: #f1ebea;
  padding: 20px;

  .you,
  .me {
    display: flex;
    background: #ffffff;
  }

  .you {
    flex-direction: row-reverse;
    margin-top: 14px;
  }

  .portrait {
    position: relative;
    width: 60%;

    img {
      width: 100%;
    }

    .xi {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      background: #cfb9ac;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      box-sizing: border-box;
      padding-bottom: 1px;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .name {
    flex-grow: 1;
    text-align: center;
    align-self: center;

    h3 {
      @include serif-font;
    }

    p,
    h3 {
      margin: 4px 0;
    }
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 0;

  p {
    margin: 0;
  }

  .no {
    @include title-number-font;
    font-size: 53px;
    line-height: 53px;
    color: #f9eee9;
  }

  .text {
    font-size: 14px;
    color: #c28779;
    margin-top: -26px;
  }

  .separator-title {
    width: 78px;
  }
}

.horizontal-images {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.p3,
.p4 {
  max-width: 49%;
}

.p6 {
  margin-bottom: 12px;
}

.p6,
.p7 {
  width: 88%;
}

.separator-reed {
  width: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

.p8,
.p9,
.p10 {
  width: 32%;
}

.p12 {
  width: 48%;
}

.p13 {
  width: 50%;
}

.p12,
.p13 {
  margin-bottom: 2%;
}

.p14 {
  width: 62%;
}

.p15 {
  width: 36%;
}

.p16 {
  margin-bottom: 28px;
}

.p16,
.p17 {
  width: 85%;
}

.p18 {
  margin-top: 36px;
}

.red-xi {
  width: 66px;
  display: inline-block;
  margin: 0 0 -8px;
}

.inviter-name {
  color: #d7aba9;
}

.subtitle-section {
  text-align: center;
  margin: 25px 0;

  p {
    margin: 0;
  }

  .en {
    @include serif-font;
    color: #979797;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.2;
  }

  .text {
    color: #262626;
    font-size: 17px;
    border-bottom: 1px solid #262626;
    margin: -17px auto 0;
    max-width: 78%;
    padding-bottom: 8px;
  }
}

.calendar {
  box-shadow: rgb(148 146 146) 0px 0px 2px 0px;
  width: 90%;
}

.process-decorator {
  width: 70%;
}

.p19-20 {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  justify-content: center;
  width: 94%;
  margin: 36px auto;

  .p19 {
    border: 1px solid #262626;
    padding: 8px;
    box-sizing: border-box;
    width: 52%;
  }

  .p20 {
    width: 48%;
    transform: scale(1.1, 1.1);
    transform-origin: left center;
  }
}

.p21 {
  width: 94%;
  margin-bottom: 2%;
}

.p22,
.p23 {
  width: 49%;
}

.hugging-separator {
  width: 70px;
  display: inline-block;
}
